@font-face {
  font-family: Nue;
  src: url(./assets/fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: Nue;
  font-weight: 100;
  src: url(./assets/fonts/NeueHaasDisplayRoman.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nue;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  position: relative;
  z-index: 10;
}

#page1 {
  width: 100%;
  min-height: 100vh;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw 3vw;
}

nav img {
  width: 40px;
  height: 50px;
  margin-bottom: 5px;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav-part2 h4,
.custom-btn {
  font-size: 0.7vw;
  color: #000000bb;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  padding: 1vw 1vw;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

#nav-part2 h4 a,
.custom-btn span {
  text-decoration: none;
  color: #000;
  position: relative;
  z-index: 9;
}

#nav-part2 h4::after,
.custom-btn::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all 0.4s ease;
}

#nav-part2 h4:hover::after,
.custom-btn:hover::after {
  bottom: 0;
  border-radius: 0%;
}

#nav-part2 h4:hover a,
.custom-btn:hover span {
  color: #fff;
}

.page3-btn {
  padding: 4vw 2vw;
}

.custom-btn {
  display: inline-block;
  padding: 0.8vw 1.2vw;
  font-size: 1vw;
}

#center {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #00000060;
  padding: 5vw;
}

#left h3 {
  width: 30vw;
  font-size: 2vw;
  line-height: 2.5vw;
}

#center h1 {
  font-size: 10vw;
  line-height: 8vw;
}

#page1 video {
  border-radius: 20px;
  width: 100%;
  margin-top: 4vw;
  z-index: 9;
  position: relative;
}

#hero-shape {
  width: 55vw;
  height: 37vw;
  position: absolute;
  right: 0;
  top: 83vh;
}

#hero-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(20px);
  background: linear-gradient(#fe0c0c, #ff1414);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#hero-2 {
  width: 30vw;
  height: 30vw;
  position: absolute;
  filter: blur(25px);
  background: linear-gradient(#fe0c0c, #ff1414);
  border-radius: 50%;
  animation-name: anime1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#hero-3 {
  display: none;
}

@keyframes anime1 {
  from {
    transform: translate(-5%, 20%);
  }

  to {
    transform: translate(33%, -10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(70%, 10%);
  }

  to {
    transform: translate(90%, -15%);
  }
}

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 8vw 0;
  position: relative;
}

#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
  display: none;
}

#moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#gola {
  width: 70px;
  height: 70px;
  background-color: #fe0c0c;
  border-radius: 50%;
  display: inline-block;
  margin: 1vw 2vw;
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#page2-bottom {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw;
  position: relative;
  z-index: 9;
}

#page2-bottom h1 {
  font-size: 3vw;
  width: 60%;
  line-height: 4vw;
}

#bottom-part2 {
  width: 25%;
}

#bottom-part2 img {
  width: 100%;
  border-radius: 20px;
}

#bottom-part2 p {
  font-family: Nue;
  font-weight: 300;
  font-size: 1vw;
  margin-top: 3vw;
}

#page2 #gooey {
  position: absolute;
  width: 32vw;
  height: 32vw;
  top: 61%;
  left: 27%;
  border-radius: 50%;
  background-color: #ea6b34;
  filter: blur(10px);
}

#gooey-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: #ea6b34;
  filter: blur(10px);
  animation-name: gooey1;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#gooey-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: #fe0c0c;
  filter: blur(50px);
  animation-name: gooey2;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes gooey1 {
  from {
    transform: translate(-5%, 10%) skew(0deg);
  }

  to {
    transform: translate(5%, -6%) skew(-10deg);
  }
}

@keyframes gooey2 {
  from {
    transform: translate(-5%, 10%);
  }

  to {
    transform: translate(5%, -6%);
  }
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 7vw 0;
}

.elem-title {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  padding: 0 2vw;
  margin-bottom: 4vw;
}

.elem-title .red-dot {
  width: 5px;
  height: 5px;
  background-color: #fe0c0c;
  border-radius: 50%;
}

.elem-title h4 {
  font-size: 1vw;
  font-weight: 100;
}

.elem {
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.185);
  overflow: hidden;
}

.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}

.elem .elem-details {
  position: relative;
  z-index: 9;
  text-align: right;
}

.elem .elem-details h5 {
  font-size: 0.6vw;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 0.2vw;
}

.elem .elem-details p {
  font-size: 0.7vw;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.elem .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: #fe0c0c;
  transition: all 0.2s ease;
}

.elem:hover .overlay {
  top: 0;
}

#fixed-image {
  width: 23vw;
  height: 30vw;
  background-color: #fe0c0c;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 2vw;
}

#box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  margin-bottom: 150px;
  color: #fff;
  border-radius: 20px;
  height: 90vh;
  overflow: hidden;
}

#box-left {
  width: 50%;
  padding: 0 7vw 0 9vw;
}

#box-tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 3vw;
}

#box-tabs::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #504a45;
}

#box-tabs h2 {
  font-size: 5rem;
  line-height: 0.95;
  font-weight: 700;
  padding-left: 2vw;
  position: relative;
  right: 0;
  cursor: pointer;
  transition: right 0.3s ease;
}

#box-tabs h2.active {
  right: 1vw;
}

#box-tabs h2 a {
  text-decoration: none;
  color: #ffffff7c;
  outline: none;
  transition: all 0.3s ease;
}

#box-tabs h2 a:focus-visible {
  outline: 2px solid #fe0c0c;
  outline-offset: 6px;
}

#box-tabs h2.active a {
  color: #fe0c0c;
}

#box-desc {
  width: 100%;
}

#box-desc p {
  font-size: 1.05rem;
  line-height: 1.2;
  font-weight: 300;
  color: #efeae3;
}

#box-right {
  width: 60%;
  height: 100%;
}

#box-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  transition: opacity 0.25s ease;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 70px;
  margin-bottom: 150px;
  padding: 0 2vw;
}

.swiper-slide {
  width: 30%;
  border-left: 1px solid #000000b0;
  padding: 0 2vw;
}

.swiper-slide img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
}

#swiper-desc {
  font-size: 1.2vw; 
  font-weight: 100;
  margin-top: 30px;
}

#page5 {
  height: 100vh;
  width: 100%;
}

#footer {
  position: fixed;
  z-index: 9;
  bottom: 0%;
  height: 105vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1vw 3vw;
}

#footer h1 {
  font-size: 23vw;
}

#footer-div {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3vw;
  margin-bottom: 3vw;
  z-index: 9;
}

#footer-left h4 {
  font-size: 1.7vw;
  line-height: 2.5vw;
}

#footer-right {
  width: 20vw;
  margin-top: 1.2vw;
}

#footer-right p {
  font-size: 1.2vw;
  font-weight: 100;
}

#footer-right h6 {
  font-size: 1.2vw;
  font-weight: 100;
  margin-top: 1.2vw;
  padding-bottom: 0.7vw;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.601);
  color: rgba(255, 255, 255, 0.621);
}

#footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.752);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vw 2vw;
}

#footer-gooey1 {
  position: absolute;
  background-color: #fe0c0c;
  filter: blur(50px);
  top: -50%;
  left: -20%;
  width: 90%;
  height: 90%;
  z-index: -9;
  animation-name: footer-gooey1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#footer-gooey2 {
  position: absolute;
  background-color: #fe0c0c;
  filter: blur(50px);
  right: -27%;
  top: -27%;
  width: 70%;
  height: 90%;
  z-index: -9;
  animation-name: footer-gooey2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes footer-gooey1 {
  from {
    transform: rotate(-10deg);
  }

  to {
    transform: rotate(-20deg);
  }
}

@keyframes footer-gooey2 {
  from {
    transform: rotate(30deg);
  }

  to {
    transform: rotate(45deg);
  }
}
